<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="generator_slider"></div>
  <div id="generator_text"></div>
  <div id="generator_volt"></div>
  <div id="generator_ampere"></div>
  <div id="battery_slider"></div>
  <div id="battery_text"></div>
  <div id="battery_volt"></div>
  <div id="battery_ampere"></div>

  
  <div id="mess_01"></div>
  <div id="mess_02"></div>
  <div id="mess_03"></div>
  <div id="mess_04"></div>
  <div id="mess_05"></div>
  <div id="mess_06"></div>
  <div id="mess_07"></div>
  <div id="mess_08"></div>
  
  <script>
    var eventSource = new EventSource("/listen")
    
    eventSource.addEventListener("message", function(e) {
      console.log(e.data)
    }, false)

    eventSource.addEventListener("start", function(e) {
      data = JSON.parse(e.data)
      document.querySelector("#generator_slider").style.width = data.generator_slider + "px" // max 1085 px      document.querySelector("#mess_01").style.visibility = data.mess_01
      document.querySelector("#generator_text").innerText = data.generator_text + "%"
      document.querySelector("#generator_volt").innerText = data.generator_volt
      document.querySelector("#generator_ampere").innerText = data.generator_ampere
      document.querySelector("#battery_slider").style.width = data.battery_slider + "px" // max 267 px
      document.querySelector("#battery_text").innerText = data.battery_text + "%"
      document.querySelector("#battery_volt").innerText = data.battery_volt
      document.querySelector("#battery_ampere").innerText = data.battery_ampere
      document.querySelector("#mess_01").style.visibility = data.mess_01
      document.querySelector("#mess_02").style.visibility = data.mess_02
      document.querySelector("#mess_03").style.visibility = data.mess_03
      document.querySelector("#mess_04").style.visibility = data.mess_04
      document.querySelector("#mess_05").style.visibility = data.mess_05
      document.querySelector("#mess_06").style.visibility = data.mess_06
      document.querySelector("#mess_07").style.visibility = data.mess_07
      document.querySelector("#mess_08").style.visibility = data.mess_08
    },true)

    eventSource.addEventListener("cable_a", function(e) {
      data = JSON.parse(e.data)
      document.querySelector("#mess_03").style.visibility = data.mess_03
      document.querySelector("#mess_04").style.visibility = data.mess_04
    },true)

    eventSource.addEventListener("battery", function(e) {
      data = JSON.parse(e.data)
      document.querySelector("#generator_slider").style.width = data.generator_slider + "px" // max 1085 px      document.querySelector("#mess_01").style.visibility = data.mess_01
      document.querySelector("#generator_text").innerText = data.generator_text + "%"
      document.querySelector("#generator_volt").innerText = data.generator_volt
      document.querySelector("#generator_ampere").innerText = data.generator_ampere
      document.querySelector("#battery_slider").style.width = data.battery_slider + "px" // max 267 px
      document.querySelector("#battery_text").innerText = data.battery_text + "%"
      document.querySelector("#battery_volt").innerText = data.battery_volt
      document.querySelector("#battery_ampere").innerText = data.battery_ampere
      document.querySelector("#mess_04").style.visibility = data.mess_04
      document.querySelector("#mess_05").style.visibility = data.mess_05
    }, true)

    eventSource.addEventListener("status_100", function(e) {
      data = JSON.parse(e.data)
      document.querySelector("#mess_04").style.visibility = data.mess_03
      document.querySelector("#mess_05").style.visibility = data.mess_04
    },true)

    eventSource.addEventListener("generator_100", function(e) {
      data = JSON.parse(e.data)
      document.querySelector("#mess_05").style.visibility = data.mess_06
      document.querySelector("#mess_06").style.visibility = data.mess_07
    },true)


  </script>

</body>
</html>