<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="generator_text"></div>
  <div id="battery_text"></div>
  <div id="generator_slider"></div>
  <div id="battery_slider"></div>
  
  <div id="mess_01"></div>
  <div id="mess_02"></div>
  <div id="mess_03"></div>
  <div id="mess_04"></div>
  <div id="mess_05"></div>
  <div id="mess_06"></div>
  <div id="mess_07"></div>
  <div id="mess_08"></div>
  
  <script>
    var eventSource = new EventSource("/listen")
    
    eventSource.addEventListener("message", function(e) {
      console.log(e.data)
    }, false)

    eventSource.addEventListener("start", function(e) {
      data = JSON.parse(e.data)
      document.querySelector("#mess_03").style.visibility = data.mess_03
    },true)
    eventSource.addEventListener("battery", function(e) {
      data = JSON.parse(e.data)
      document.querySelector("#battery_text").innerText = data.battery_text + "%"
      document.querySelector("#battery_slider").style.width = data.battery_slider + "px" // max 267 px
      document.querySelector("#generator_text").innerText = data.battery_slider + "%"
      document.querySelector("#generator_slider").style.width = data.generator_slider + "px"
      document.querySelector("#mess_05").style.visibility = data.mess_05

    }, true)

  </script>

</body>
</html>