<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="generator_slider"></div>
  <div id="battery_slider"></div>
  
  <script>
    var eventSource = new EventSource("/listen")
    
    eventSource.addEventListener("message", function(e) {
      console.log(e.data)
    }, false)

    eventSource.addEventListener("online", function(e) {
      // console.log(e.data.color)
      data = JSON.parse(e.data)

      document.querySelector("#battery_slider").innerText = data.battery_counter
      document.querySelector("#battery_slider").style.width = data.battery_counter + "px"
      document.querySelector("#generator_slider").innerText = data.generator_counter
      document.querySelector("#generator_slider").style.width = data.generator_counter + "px"

    }, true)

  </script>

</body>
</html>