*{scrollbar-width: none;}
::-webkit-scrollbar { display: none; }
*, html { cursor: none !important; }

body {
    width: 1920px;
    height: 1080px;
    background-image: url('/static/img/interface_vast.png'), url('/static/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'GothamBook', Helvetica, sans-serif;
    font-size: 75px;
    color: rgb(0, 226, 252);
    text-align: center;
}

#generator_slider{
    position: absolute;
    height: 151px;
    border-radius: 17px;
    background-color: rgb(0, 249, 0);
    top: 782px;
    left: 439px;
}
#generator_text{
    position: absolute;
    z-index: 1;
    font-size: 60px;
    width: 100px;
    top: 825px;
    left: 920px
}
#generator_volt{
    position: absolute;
    z-index: 1;
    width: 190px;
    top: 850px;
    left: 195px;
}
#generator_ampere{
    position: absolute;
    z-index: 1;
    width: 190px;
    top: 850px;
    left: 1580px;
}
#battery_slider{
    position: absolute;
    height: 118px;
    border-radius: 5px;
    background-color: rgb(0, 226, 252);
    top: 437px;
    left: 833px;
}
#battery_text{
    position: absolute;
    z-index: 1;
    width: 100px;
    font-size: 40px;
    top: 475px;
    left: 700px
}
#battery_volt{
    position: absolute;
    z-index: 1;
    width: 140px;
    top: 470px;
    left: 380px;
}
#battery_ampere{
    position: absolute;
    z-index: 1;
    width: 100px;
    top: 470px;
    left: 1430px;
}
#battery_icon{
    visibility: hidden;
    position: absolute;
    height: 1080px;
    width: 1920px;
    top: 0px;
    left: 20px;
    background-image: url('/static/img/batterij_oplaad_icon.png');
    background-repeat: no-repeat;
    background-size: cover;   
}


#mess_01{
    visibility: hidden;
    position: absolute;
    height: 1080px;
    width: 1920px;
    top: 0px;
    left: 0px;
    background-image: url('/static/img/message_01_activeer_noodstroom.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#mess_02{
    visibility: hidden;
    position: absolute;
    height: 1080px;
    width: 1920px;
    top: 0px;
    left: 0px;
    background-image: url('/static/img/message_02_noodstroom_geactiveerd.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#mess_03{
    visibility: hidden;
    position: absolute;
    height: 1080px;
    width: 1920px;
    top: 0px;
    left: 0px;
    background-image: url('/static/img/message_03_kortsluiting_A.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#mess_04{
    visibility: hidden;
    position: absolute;
    height: 1080px;
    width: 1920px;
    top: 0px;
    left: 0px;
    background-image: url('/static/img/message_04_standby_B.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#mess_05{
    visibility: hidden;
    position: absolute;
    height: 1080px;
    width: 1920px;
    top: 0px;
    left: 0px;
    background-image: url('/static/img/message_05_fietsen.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#mess_06{
    visibility: hidden;
    position: absolute;
    height: 1080px;
    width: 1920px;
    top: 0px;
    left: 0px;
    background-image: url('/static/img/message_06_generator_activated.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#mess_07{
    visibility: hidden;
    position: absolute;
    height: 1080px;
    width: 1920px;
    top: 0px;
    left: 0px;
    background-image: url('/static/img/message_07_koppel_pop_up_3.0.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
#mess_08{
    visibility: hidden;
    position: absolute;
    height: 1080px;
    width: 1920px;
    top: 0px;
    left: 0px;
    background-image: url('/static/img/message_08_batterij_offline_pop_up.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}